@media screen and (max-width: 768px) {
  .navbar .site-menu {
    flex-direction: column;
    display: none;
  }
  .navbar {
    padding: 0 2rem;
  }

  .navbar #linkedin {
    display: none;
  }

  .navbar .hamburger {
    display: flex;
    
  }

  header.scrolled  .navbar .hamburger span{
    background: white;
  }

  .navbar ul.show {
    display: flex;
  }

  .navbar ul.show li {
    padding: 0.4rem 1rem;
  }

  .navbar ul.show li:hover {
    padding: 0.3rem 1rem;
  }

  /**************Presentation**************/
  .presentation {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
  }

  .presentation .img-photo {
    height: 15rem;
    padding-left: 0rem;
    padding-top: 2rem;
}

/****************Contact*******************/

.contacts-all .contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contacts-all h3 {
    font-size: 1.2rem;
}

.contacts-all .contacts a{
    padding: .5rem 0rem;
}

.header-menu-open .presentation {
    padding-top: 15rem;
  }



/****Parcours******/

.career{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: start;
  padding: 1rem 1rem;
  box-sizing: border-box;
  width: 90%;
}


.career:nth-child(odd) {
  justify-content: right;
  flex-direction: row-reverse;
  transform: translateX(calc(0% + 2rem));
}

.career:nth-child(even) {
  justify-content: left;
  transform: translateX(calc(0% - 2rem));
  justify-content: flex-start;
  padding-top: 2rem;
}

.career:nth-child(odd)  .career-description{
  padding-right: 1rem;
  text-align: right;
  width: 100%
}

.career:nth-child(even)  .career-description{
  padding-left: 1rem;
  text-align: left;
  width: 100%;
}

.career:nth-child(odd)  .career-description #description-career{
  padding-top: .5rem;
  text-align: right;
}

.career:nth-child(even)  .career-description #description-career{
  padding-top: .5rem;
  text-align: left;
}

}

@media (max-width: 580px) { 
  /****************Skills*******************/

.competence {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 0.1rem solid antiquewhite;
   border-radius: 0.3rem;
   padding: 1rem 2rem;
   flex: 1 1 calc(100% - 2rem);
   /*flex: 1 1 calc(25% - 2rem);*/
   box-sizing: border-box;
   margin: 1rem 1rem;
 }

 /****Parcours******/

.career{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1rem 1rem;
 box-sizing: border-box;
 width: 90%;
}


.career:nth-child(odd) {
 justify-content: center;
 flex-direction: column;
 /*flex-direction: row-reverse;*/
 transform: translateX(calc(0% + 0rem));
}

.career:nth-child(even) {
 flex-direction: column;
 transform: translateX(calc(0% - 0rem));
 justify-content: center;
 padding-top: 2rem;
}

.career:nth-child(odd)  .career-description{
 /*padding-right: 1rem;*/
 text-align: center;
 width: 100%
}

.career:nth-child(even)  .career-description{
 /*padding-left: 1rem;*/
 text-align: center;
 width: 100%;
}

.career:nth-child(odd)  .career-description #description-career{
 padding-top: .5rem;
 text-align: center;
}

.career:nth-child(even)  .career-description #description-career{
 padding-top: .5rem;
 text-align: center;
}
}
